<h3>Chat</h3>
<hr>
<div class="app-mensajes" id="app-mensajes">

    <div class="text-right" *ngFor="let chat of _chat.chats">
        <span class="badge badge-primary">Hernan</span>
        <p>
            {{ chat.mensaje }}
        </p>
    </div>
    <!-- <div class="text-right">
        <span class="badge badge-primary">Hernan</span>
        <p>
            Este es un mensaje de chat
        </p>
    </div>

    <div>
        <span class="badge badge-success">Maria</span>
        <p>
            Esta es una respuesta
        </p>
    </div> -->

</div>

<input type="text" name="mensaje" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()" id="mensaje" placeholder="Escribir mensaje" class="form-control">